{::nomarkdown}
<!--[if lte IE 8]>
  <style>
  .service-locator-engine {display: none !important;}
  .no-js-message {display: block; margin: auto; text-align: center; font-weight: bold;}
  </style>
<![endif]-->
<div id="service-locator">
  <div class="service-locator-content">
    <div class="no-js-message">Whoops! It does not appear that your browser supports the Service Locator map.</div>
    <div class="js-required service-locator-engine">
      <div class="service-locator-guide">            
        <form class="form-inline" role="form" id="service-locator-form">
          <div class="input-group">
            <label class="sr-only" for="zipcode">Zip Code</label>
            <input type="text" pattern="\d*" class="form-control" id="zipcode" placeholder="Zip Code">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">Go</button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
      <div class="service-locator-map">
        <div id="map"></div>
        <div class="resource-cite">Data Courtesy <a href="http://www.rainn.org/" target="_blank">RAINN</a>
        </div>
      </div>
    </div>
  </div>
</div>
{:/}
